<html ng-app='swankyChat' ng-cloak='true'>
  <div class='container'>
    <div class='inbox'>
      <aside>
        <ul ng-controller='chatCtrl as chat'>
          <div ng-repeat='chat in chats'>
            <li ng-click='uid(chat.id)'>
              <img class='avatar' src='{{chat.avatar}}'>
              <p class='username'>{{chat.username}}</p>
            </li>
          </div>
        </ul>
      </aside>
      <main ng-controller='chatCtrl as chat'>
        <div class='init'>
          <i class='fa fa-inbox'></i>
          <h4>Choose a conversation from the left</h4>
        </div>
        <div class='loader'>
          <p></p>
          <h4>Loading</h4>
        </div>
        <!-- Set A Ng Repeat For Our Messages || Check To See If Our Value (Which Is Set Via Ng Click) Is Equal To The Id Of The Message List We Want To Show -->
        <div class='message-wrap' ng-repeat='message in chats' ng-show='value == message.id'>
          <!-- Repeat Each Item In The Array Seperately -->
          <div class='message' ng-repeat='i in message.messages track by $index'>
            <p>{{i}}</p>
            <img ng-src='{{message.avatar}}'>
          </div>
        </div>
        <footer>
          <form ng-submit='add()'>
            <input ng-model='text' placeholder='Enter a message' type='text'>
            <input type='submit' value='Send'>
          </form>
        </footer>
      </main>
    </div>
  </div>
</html>
